/**************************************************/
/********file-system********/
html {
font-size: 62.5%;
box-sizing: border-box;
}

body {
font: 1.6rem helvetica;
height: 100vh;
margin: 0;
}

.grid-container{
display: grid;
grid-template-areas:
"header"
"main"
"footer";
grid-template-columns: 1fr;
grid-template-rows: 5rem 1fr 5rem;
height: 100%;
}

a {text-decoration: none;}
a:hover{color: red;}

/****************************************/
/*header*/
.header {
grid-area: header;
background-color:#3a3a3a;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding:0.5rem;
}


/***********************navbar buttons************************************/

/*******buttons on left links in navbar*************/

.brand a{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    }
   
/*******logo button on left navbar****/
.button {
  background-color: red;
  color: white;
  padding: 10px 25px;
  font-size: 40px;
  cursor: pointer;
}

.button:hover {
  color: black;
}

/************menu button*************/

.toggle {
  margin-left: 1rem;
    margin-right: 2rem;
  }
  .toggle span {
    width: 100%;
    background-color: #777;
    height: 4px;
    transition: 0.5s;
  }
  .toggle:hover span {
    background-color: #333;
  }
  nav {
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    transform: translateY(-100%);
  }
  nav.open {
    transform: translateY(0);
  }
  nav .close {
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
  }
  nav .close:hover {
    color: indianred;
    border-color: indianred;
  }
  nav a {
    color: #eee;
    text-decoration: none;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80px;
    transition: 0.5s;
  }
  nav a:hover {
    background-color: rgb(0 0 0 / 50%);
  }


/**********************************/

   /*********button links on right in navbar**********/
   .header-links a {
    color: white;
    text-decoration: none;
    padding: 2rem;
    } 
    
    .header-links a:hover {
        color:red;
        } 
    /*******************************************************************************************/

/*main*/
.main {
grid-area: main;
}

/*all characters system*/
.rappers {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: rap;
}

/*character composent*/

/********************/
.rappers li{
    list-style-type: none;
    padding: 0;
flex: 0 1 34rem;
margin: 1rem;
height: 50rem;
border-bottom: .1rem grey solid;
}
/****/
.rapper {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
}
/************************/


.rapper-image{
max-width: 34rem;
max-height: 34rem;
}
.rapper-name{
font-size: 2rem;
font-weight: bold;
}
.rapper-country{
    font-size: 1.2rem;
    color: grey;
}
.rapper-rating {
    margin-bottom:1rem ;
}
/*************************************************/
/*footer*/
.footer {
grid-area: footer;
background-color: black;
color: white;
display: flex;
justify-content: center;
align-items: center;

}